$primary-color: #000000;
$secondary-color: #130A0B;
$highlight-color: #1e90ff;
$hover-color: #00bcd4;
$text-color: #ffffff;
$form-bg: #170d0d;
$form-border: #342b2b;
$form-shadow: rgba(213, 74, 74, 0.595);
$button-bg: #252525;
$button-hover: #C72E2E;